.testimonials-container {
  display: flex;
  flex-direction: row;
  flex: 2;
  align-items: center;
  justify-content: space-evenly;
  height: 500px;
}

.testimonials-content {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.para {
  justify-self: center;
  align-self: center;
  padding-left: 20px;
}

.image {
  border-radius: 50%;
}
